version: "3.8"

services:
  api:
    image: davialves1820/backendnode:latest
    container_name: learn-nodejs-api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      SECRET: super_secret
      EXPIRESIN: 7d

      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: database

      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: database
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    restart: unless-stopped

volumes:
  pgdata:
